buildscript {
  repositories {
    mavenCentral()
  }
  dependencies {
    classpath(
      'com.connorgarvey.gradle:gradle-grails-wrapper:#{gradleGrailsWrapperVersion}',
    )
  }
}

apply plugin: 'grails'

grails {
  version '#{grailsVersion}'
}

task wrapper(type: Wrapper) {
  gradleVersion = '#{gradleVersion}'
}
